{%- extends "bootstrap/base.html" %}

{% block title %} BASE TEMPLATE {% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header ">
      <a class="navbar-brand navbar-right disable">Sistemas de Recuperación de Información</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Buscador</a></li>
        <li><a href="/evaluate">Evaluador</a></li>  
      </ul>
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}


