{% extends "base.html" %}
{% block title %} SRI Evaluation Page {% endblock %}
{% block content %} 

    

    <div class="container">
        <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading"><p class="text-center">MODELO VECTORIAL <small>Cranfield</small></p></div>
            <!-- Table -->
            <table class="table table-bordered">
                <tr>
                    <th><p class="text-center">Precisión</p></th>
                    <th><p class="text-center">Recobrado</p></th>
                    <th><p class="text-center">Medida F1</p></th>
                </tr>
                <tr>
                    <td><p class="text-center">{{ content[0][0] }}</p></td>
                    <td><p class="text-center">{{ content[0][1] }}</p></td>
                    <td><p class="text-center">{{ content[0][2] }}</p></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="container">
        <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading"><p class="text-center">MODELO VECTORIAL <small>Med</small></p></div>
            <!-- Table -->
            <table class="table table-bordered">
                <tr>
                    <th><p class="text-center">Precisión</p></th>
                    <th><p class="text-center">Recobrado</p></th>
                    <th><p class="text-center">Medida F1</p></th>
                </tr>
                <tr>
                    <td><p class="text-center">{{ content[1][0] }}</p></td>
                    <td><p class="text-center">{{ content[1][1] }}</p></td>
                    <td><p class="text-center">{{ content[1][2] }}</p></td>
                </tr>
            </table>
        </div>
    </div>
    

    <div class="container">
            <div class="panel panel-success">
                <!-- Default panel contents -->
                <div class="panel-heading"><p class="text-center">MODELO BOOLEANO <small>Cranfield</small></p></div>
                <!-- Table -->
                <table class="table table-bordered">
                    <tr>
                        <th><p class="text-center">Precisión</p></th>
                        <th><p class="text-center">Recobrado</p></th>
                        <th><p class="text-center">Medida F1</p></th>
                    </tr>
                    <tr>
                        <td><p class="text-center">{{ content[2][0] }}</p></td>
                        <td><p class="text-center">{{ content[2][1] }}</p></td>
                        <td><p class="text-center">{{ content[2][2] }}</p></td>
                    </tr>
                </table>
            </div>
    </div>


    <div class="container">
            <div class="panel panel-success">
                <!-- Default panel contents -->
                <div class="panel-heading"><p class="text-center">MODELO BOOLEANO <small>Med</small></p></div>
                <!-- Table -->
                <table class="table table-bordered">
                    <tr>
                        <th><p class="text-center">Precisión</p></th>
                        <th><p class="text-center">Recobrado</p></th>
                        <th><p class="text-center">Medida F1</p></th>
                    </tr>
                    <tr>
                        <td><p class="text-center">{{ content[3][0] }}</p></td>
                        <td><p class="text-center">{{ content[3][1] }}</p></td>
                        <td><p class="text-center">{{ content[3][2] }}</p></td>
                    </tr>
                </table>
            </div>
    </div>


    <div class="container">
        <div class="panel panel-warning">
            <!-- Default panel contents -->
            <div class="panel-heading"><p class="text-center">MODELO TF <small>Cranfield</small></p></div>
            <!-- Table -->
            <table class="table table-bordered">
                <tr>
                    <th><p class="text-center">Precisión</p></th>
                    <th><p class="text-center">Recobrado</p></th>
                    <th><p class="text-center">Medida F1</p></th>
                </tr>
                <tr>
                    <td><p class="text-center">{{ content[4][0] }}</p></td>
                    <td><p class="text-center">{{ content[4][1] }}</p></td>
                    <td><p class="text-center">{{ content[4][2] }}</p></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="container">
        <div class="panel panel-warning">
            <!-- Default panel contents -->
            <div class="panel-heading"><p class="text-center">MODELO TF <small>Med</small></p></div>
            <!-- Table -->
            <table class="table table-bordered">
                <tr>
                    <th><p class="text-center">Precisión</p></th>
                    <th><p class="text-center">Recobrado</p></th>
                    <th><p class="text-center">Medida F1</p></th>
                </tr>
                <tr>
                    <td><p class="text-center">{{ content[5][0] }}</p></td>
                    <td><p class="text-center">{{ content[5][1] }}</p></td>
                    <td><p class="text-center">{{ content[5][2] }}</p></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="container">
        <div class="panel panel-info">
            <!-- Default panel contents -->
            <div class="panel-heading"><p class="text-center">MODELO TF*IDF <small>Cranfield</small></p></div>
            <!-- Table -->
            <table class="table table-bordered">
                <tr>
                    <th><p class="text-center">Precisión</p></th>
                    <th><p class="text-center">Recobrado</p></th>
                    <th><p class="text-center">Medida F1</p></th>
                </tr>
                <tr>
                    <td><p class="text-center">{{ content[6][0] }}</p></td>
                    <td><p class="text-center">{{ content[6][1] }}</p></td>
                    <td><p class="text-center">{{ content[6][2] }}</p></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="container">
        <div class="panel panel-info">
            <!-- Default panel contents -->
            <div class="panel-heading"><p class="text-center">MODELO TF*IDF <small>Med</small></p></div>
            <!-- Table -->
            <table class="table table-bordered">
                <tr>
                    <th><p class="text-center">Precisión</p></th>
                    <th><p class="text-center">Recobrado</p></th>
                    <th><p class="text-center">Medida F1</p></th>
                </tr>
                <tr>
                    <td><p class="text-center">{{ content[7][0] }}</p></td>
                    <td><p class="text-center">{{ content[7][1] }}</p></td>
                    <td><p class="text-center">{{ content[7][2] }}</p></td>
                </tr>
            </table>
        </div>
    </div>

    
    <div class="container">
        <div class="panel panel-danger">
            <!-- Default panel contents -->
            <div class="panel-heading"><p class="text-center">MODELO LEM <small>Cranfield</small></p></div>
            <!-- Table -->
            <table class="table table-bordered">
                <tr>
                    <th><p class="text-center">Precisión</p></th>
                    <th><p class="text-center">Recobrado</p></th>
                    <th><p class="text-center">Medida F1</p></th>
                </tr>
                <tr>
                    <td><p class="text-center">{{ content[8][0] }}</p></td>
                    <td><p class="text-center">{{ content[8][1] }}</p></td>
                    <td><p class="text-center">{{ content[8][2] }}</p></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="container">
        <div class="panel panel-danger">
            <!-- Default panel contents -->
            <div class="panel-heading"><p class="text-center">MODELO LEM <small>Med</small></p></div>
            <!-- Table -->
            <table class="table table-bordered">
                <tr>
                    <th><p class="text-center">Precisión</p></th>
                    <th><p class="text-center">Recobrado</p></th>
                    <th><p class="text-center">Medida F1</p></th>
                </tr>
                <tr>
                    <td><p class="text-center">{{ content[9][0] }}</p></td>
                    <td><p class="text-center">{{ content[9][1] }}</p></td>
                    <td><p class="text-center">{{ content[9][2] }}</p></td>
                </tr>
            </table>
        </div>
    </div>
    

{% endblock %}